[package]
name = "bevy_xpbd_3d"
version = "0.1.0"
edition = "2021"

[features]
default = [ "3d", "f32", "simd" ]
3d = []
f32 = [ "dep:parry3d" ]
f64 = [ "dep:parry3d-f64" ]
debug-render-aabbs = [ "dep:bevy_prototype_debug_lines" ]
simd = [ "parry3d?/simd-stable", "parry3d-f64?/simd-stable" ]
enhanced_determinism = [ "parry3d?/enhanced-determinism", "parry3d-f64?/enhanced-determinism" ]

[lib]
name = "bevy_xpbd_3d"
path = "../../src/lib.rs"
required-features = [ "3d" ]

[dependencies]
bevy = { version = "0.10.1", default-features = false }
bevy_prototype_debug_lines = { version = "0.10.1", optional = true, features = [ "3d" ] }
parry3d = { version = "0.13.1", optional = true }
parry3d-f64 = { version = "0.13.1", optional = true }
nalgebra = { version = "0.32.2", features = [ "convert-glam023" ] }
console_error_panic_hook = "0.1"
web-sys = "0.3.59"
derive_more = "0.99"

[dev-dependencies]
examples_common_3d = { path = "../examples_common_3d" }
approx = "0.5"
glam = { version = "0.23", features = [ "approx" ] }
insta = "1.0"
itertools = "0.10"

[[example]]
name = "chain3d"
required-features = ["3d", "f32"]

[[example]]
name = "cubes"
required-features = ["3d", "f32"]

[[example]]
name = "cubes_f64"
required-features = ["3d", "f64"]

[[example]]
name = "fixed_joint_3d"
required-features = ["3d", "f32"]

[[example]]
name = "prismatic_joint_3d"
required-features = ["3d", "f32"]

[[example]]
name = "revolute_joint_3d"
required-features = ["3d", "f32"]

[[example]]
name = "rolling_balls"
required-features = ["3d", "f32"]

[[example]]
name = "custom_broad_phase"
required-features = ["3d", "f32"]
