name: CI

on:
    push:
        branches:
            - main
    pull_request:

env:
    CARGO_TERM_COLOR: always
    RUSTFLAGS: --deny warnings -C debuginfo=line-tables-only
    RUSTDOCFLAGS: --deny warnings

jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - uses: Swatinem/rust-cache@v2
              with:
                save-if: ${{ github.ref == 'refs/heads/main' }}
            - name: Run cargo check
              run: cargo check

    docs:
        name: Check Documentation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - uses: Swatinem/rust-cache@v2
              with:
                save-if: ${{ github.ref == 'refs/heads/main' }}
            - name: Run cargo doc
              run: cargo doc --workspace --no-deps --document-private-items --keep-going

    test:
        name: Test Suite
        strategy:
            matrix:
                os: [windows-latest, macos-latest, ubuntu-latest]
        runs-on: ${{ matrix.os }}
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - uses: Swatinem/rust-cache@v2
              with:
                save-if: ${{ github.ref == 'refs/heads/main' }}
            - uses: cargo-bins/cargo-binstall@main
            - name: Install nextest
              run: cargo binstall cargo-nextest --secure
            - name: Run cargo test
              run: cargo nextest run --no-default-features --features enhanced-determinism,parallel,collider-from-mesh,serialize,debug-plugin,avian2d/2d,avian3d/3d,avian2d/f64,avian3d/f64,default-collider,parry-f64,bevy_scene,bevy_picking,diagnostic_ui
            - name: Run doc tests
              run: LD_LIBRARY_PATH="$(rustc --print target-libdir)" cargo test --doc --no-default-features --features enhanced-determinism,parallel,collider-from-mesh,serialize,debug-plugin,avian2d/2d,avian3d/3d,avian2d/f64,avian3d/f64,default-collider,parry-f64,bevy_scene,bevy_picking,diagnostic_ui

    lints:
        name: Lints
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
            - uses: Swatinem/rust-cache@v2
              with:
                save-if: ${{ github.ref == 'refs/heads/main' }}
            - name: Run cargo fmt
              run: cargo fmt --all -- --check
            - name: Run cargo clippy
              run: cargo clippy
